#header-col1
{
    background-color: #2C2F36;
    height: 13rem;
    /* overflow: hidden; */
}
#header-div1
{
    color: white;
    font-size: 47px;
    font-weight: 400;
    padding-top: 18%;
    padding-left: 4rem;
    font-family:Blanka ;
}
body
{
    border: 3px solid gray;
    border-right: 3px solid gray;
}
#header-sup
{
    font-weight: 900;
    top: -1.5rem;
    font-size: 40px;
    left: 6%;
    color: #FF2B8A;
}
#header-sub
{
    bottom: -0.7em;
    left: -0.3em;
}
#header-span
{
    color: #ffffff7d;
    font-size: 20px;
    padding-left: 28%;
}
#header-div2
{
    margin-top: 4%;
}
#header-col2
{
    position: inherit;
    font-family: Corbel;
}
#header-col2-d1
{
    color: rgba(60,60,62,255);
    font-weight: 700;
    padding-top: 1rem;
    padding-left: 5rem;
    font-size: 31px;
}
#header-col3
{
    background-color: #d5d4d129;
    position: relative;
    font-family: Corbel;
}
#header-col2-d2
{
    line-height: 17%;
    padding-left: 5rem;
    color: #b4b4b4;
    padding-top: 1rem;
}
#header-col2-p3
{
    font-size: 26px;
    padding-top: 6%;
}
#header-col2-p2
{
    font-size: 27px;
    position: absolute;
}
#header-col2-p4
{
    font-size: 28px;
    padding-top: 1%;
}
#header-col2-p5
{
    font-size: 29px;
    padding-top: 1%;
}
#mainimg
{
    background-image: url('assets/main.jpg');
    background-size: 100% 132%;
}
#mainimg-col1
{
    padding-left: 0rem;
    font-family: Corbel;
}
#mainimg-col1-d1
{
    height: 110vh;
    color: #ffffff75;
    background: #0e658fc2;
    width: 82vw;
}
#mainimg-h1-1
{
    text-align: center;
    font-size: 212px;
    padding-top: 0rem;
    padding-left: 2rem;
    font-weight: 700;
}
#mainimg-h1-2
{
    font-weight: 700;
    padding-left: 6rem;
    padding-top: 4rem;
    color: white;
}
#grad-1
{
    background: white;
    height: 10px;
    width: 16%;
    margin-left: 6rem;
    margin-top: 2rem;
}
.mainimg-p1
{
    padding-left: 6rem;
    color: white;
    font-size: 129px;
    font-weight: 900;
    margin-top: -18%;
}
.mainimg-p2
{
    padding-left: 8%;
    color: white;
    font-size: 103px;
    font-weight: 900;
    margin-top: -3rem;
}
#mainimg-p3
{
    color: white;
    font-size: 103px;
    font-weight: 900;
    padding-left: 8%;
    margin-top: -3rem;   
}
#mainimg-col2
{
    background-color: #e12371b5;
    height: 14rem;
    font-family: Corbel;
}
.mainimg-sp1
{
    background-color: #c40051;
    height: 2%;
    width: 1rem;
    position: absolute;
    margin-left: 22rem;
}
.mainimg-sp2
{
    background-color: #c40051;
    height: 2%;
    width: 1rem;
    position: absolute;
    margin-left: 20rem;
}
.mainimg-sp3
{
    background-color: #c40051;
    height: 2%;
    width: 1rem;
    position: absolute;
    margin-left: 24rem;
}
#mainimg-sp-d
{
    margin-left: 32rem;
    margin-top: -6%;
}
#section2-col1
{
    
    height: 9rem;
}
#section2-sp1
{
    background: #eeeeee;
    height: 2%;
    position: absolute;
    width: 223px;
    margin-top: 10%;
    left: 1120px;
}
#sp-1
{
    font-size: 43px;
    font-weight: 900;
}
#sp-2
{
    font-size: 40px;
}
#sp-3
{
    font-size: 40px;
}
#section-about-col1
{
    height: 10rem;
    line-height: 19px;
    font-family: Corbel;
}
#section3-d1
{
    margin-left: 5rem;
    border-left: 7px solid #c40051;
    height: 6rem;
    margin-top: 2rem;
}
#section3-d2
{
    padding-left: 23%;
    padding-top: 9%;
}
#section3-col2
{
    padding-left: 10rem;
    padding-right: 8rem;
    padding-top: 2rem;
    font-family: Corbel;
}
#section-p1
{
    text-align: justify;
    font-size: 26px;
    line-height: 100%; 
    color: #312f2f; 
}
#section3-row
{
    background: #eeeeee;
}
#section4-col1
{
    padding-left: 5rem;
    font-family: Corbel;
    
}
#section4-icon1
{
    width: 39%;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 0rem;
}
#card1-body
{
    line-height: 27px;
    text-align: justify;
    font-size: 24px;
    padding-top: 0rem;
}
#section4-st1
{
    font-weight: 800;
    color: #2b2b2d;
    font-size: 41px;
    
}
#section4-sp1
{
    color:#ec136d;
    font-size: 37px;
}
#card1-t1
{
    margin-bottom: -0.15rem;
}
#section4-p1
{
    color: #524e4e;
    font-weight: 500;
}
.section4-sp2
{
    background: #f30065;
    height: 8px;
    width: 28px;
    position: absolute;
    margin-top: 4%;
    margin-left: 1%;
}
#section4-col2
{
    font-family: Corbel;
    
}
#section4-icon2
{
    width: 35%;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 0rem;
}
#card2-body
{
    line-height: 27px;
    text-align: justify;
    font-size: 26px;
    padding-top: 0rem;
}
#section4-st2
{
    font-weight: 800;
    color: #2b2b2d;
    font-size: 40px;
    
}
#section4-sp2
{
    color:#ec136d;
    font-size: 36px;
}
#card2-t1
{
    margin-bottom: -0.15rem;
}
#section4-p2
{
    color: #524e4e;
    font-weight: 500;
}
.section4-sp4
{
    background: #f30065;
    height: 8px;
    width: 28px;
    position: absolute;
    margin-top: 4%;
    margin-left: 1%;
}
#section4-col3
{
    padding-left: 0rem;
    margin-left: -2rem;
    font-family: Corbel;
}
#section4-icon3
{
    width: 35%;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
}
#card3-body
{
    line-height: 27px;
    text-align: justify;
    font-size: 26px;
    padding-top: 0rem;
}
#section4-st3
{
    font-weight: 800;
    color: #2b2b2d;
    font-size: 41px;
    
}
#section4-sp3
{
    color: #ec136d;
    font-size: 36px;

}
#card3-t1
{
    margin-bottom: -0.15rem;
}
#section4-p3
{
    color: #524e4e;
    font-weight: 500;
}
.section4-sp5
{
    background: #f30065;
    height: 8px;
    width: 28px;
    position: absolute;
    margin-top: 4%;
    margin-left: 1%;
}
/* ----------footer--------------- */
#footer
{
    height: 19vh;
    background: #2b2f35;
    padding-left: 8rem;
    color: white;
}
#footer-col1
{
    text-align: center;
    padding-top: 5%;
    font-family: Corbel;
}
#footer-col2
{
    padding-top: 48px;
    padding-left: 4rem;
    font-family: Corbel;
}
#footer-col3
{
    padding-top: 0%;
    padding-left: 0rem;
    font-family: Corbel;
}
#footer-col4
{
    padding-top: 3%;
    font-family: Corbel;
}
#footer-h2
{
    font-size: 18px;
}
#footer-span1
{
    background: white;
    height: 3%;
    position: absolute;
    width: 14%;
}
#footer-h1
{
    font-weight: 700;
    font-size: 29px;
}
#footer-st
{
    font-weight: 700;
    font-size: 40px;
}
#footer-h1-2
{
    font-size: 28px;
}
#footer-img
{
    height: 8rem;
    width: 11rem;
}
#card2
{
    width: 24rem; border: none;
}
#card3
{
    width: 24rem; border: none;
}
#card2-d1
{
    margin-left: 23rem;
    margin-top: -20rem;
    transform: rotate(90deg);
}
#card2-span
{
    height: 2px;
    width: 13rem;
    position: absolute;
    background: #80808073;
}
#card3-d1
{
    margin-left: 23rem;
    margin-top: -18rem;
    transform: rotate(90deg);
}
#card3-span
{
    height: 2px;
    width: 13rem;
    position: absolute;
    background: #80808073;
}
