#header-col1
{
    background-color: #2C2F36;
    height: 14rem;
    overflow: hidden;
}
#header-div1
{
    color: white;
    font-size: 47px;
    font-weight: 400;
    padding-top: 18%;
    padding-left: 4rem;
}
body
{
    border: 3px solid gray;
    border-right: 3px solid gray;
}
#header-sup
{
    font-weight: 900;
    top: -1.5rem;
    font-size: 28px;
    left: 1rem;
    color: #FF2B8A;
}
#header-sub
{
    bottom: -0.7em;
    left: -0.3em;
}
#header-span
{
    color: #ffffff7d;
    font-size: 20px;
    padding-left: 28%;
}
#header-div2
{
    margin-top: 2%;
}
#header-col2
{
    position: inherit;
}
#header-col2-d1
{
    color: rgba(60,60,62,255);
    font-weight: 700;
    padding-top: 1rem;
    padding-left: 5rem;
    font-size: 31px;
}
#header-col2-p1
{

}
#header-col3
{
    background-color: #d5d4d129;
    position: relative;
}
#header-col2-d2
{
    line-height: 17%;
    padding-left: 5rem;
    color: #b4b4b4;
    padding-top: 1rem;
}
#header-col2-p3
{
    font-size: 26px;
    padding-top: 6%;
}
#header-col2-p2
{
    font-size: 27px;
    position: absolute;
}
#header-col2-p4
{
    font-size: 28px;
    padding-top: 2%;
}
#header-col2-p5
{
    font-size: 29px;
    padding-top: 2%;
}
#mainimg
{
    background-image: url('assets/main.jpg');
    background-size: 100% 100%;
}
#mainimg-col1
{
    padding-left: 0rem;
}
#mainimg-col1-d1
{
    height: 99vh;
    color: #ffffff75;
    background: #0e658fc2;
    width: 82vw;
}
#mainimg-h1-1
{
    text-align: center;
    font-size: 212px;
    padding-top: 0rem;
    padding-left: 2rem;
    font-weight: 700;
}
#mainimg-h1-2
{
    font-weight: 700;
    padding-left: 6rem;
    padding-top: 4rem;
    color: white;
}
#grad-1
{
    background: white;
    height: 10px;
    width: 16%;
    margin-left: 6rem;
    margin-top: 2rem;
}
.mainimg-p1
{
    padding-left: 8%;
    color: white;
    font-size: 103px;
    font-weight: 900;
    margin-top: -15%;
}
.mainimg-p2
{
    padding-left: 8%;
    color: white;
    font-size: 103px;
    font-weight: 900;
    margin-top: -3rem;
}
#mainimg-p3
{
    color: white;
    font-size: 103px;
    font-weight: 900;
    padding-left: 8%;
    margin-top: -3rem;   
}
#mainimg-col2
{
    background-color: #e12371b5;
    height: 14rem;
}